/*  CSS COLOR PALETTE: copied from - https://coolors.co/012a4a-013a63-01497c-014f86-2a6f97-2c7da0-468faf-61a5c2-89c2d9-a9d6e5

--prussian-blue: #012a4aff;
--indigo-dye: #013a63ff;
--indigo-dye-2: #01497cff;
--usafa-blue: #014f86ff;
--honolulu-blue: #2a6f97ff;
--celadon-blue: #2c7da0ff;
--blue-green: #468fafff;
--maximum-blue: #61a5c2ff;
--dark-sky-blue: #89c2d9ff;
--light-blue: #a9d6e5ff;

*/

body {
    background-color: #a9d6e5ff;
    color: #01497c;
    font-family: 'Montserrat';
    margin: 0;
    text-align: center;
}

h1 {
    color: #468faf;
    font-family: 'Sacramento', cursive;
    font-size: 7.5rem;
    margin: 50px auto 0 auto;
    line-height: 2;
}

h2 {
    color: #61a5c2;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;

}

h3 {
    color: #01497c;
    font-family: 'Montserrat', sans-serif;
}

.top-container {
    background-color: #a9d6e5ff;
    padding-top: 100px;
    position: relative;
}

.middle-container {
    background-color: #a9d6e5ff;
}

.bottom-container {
    background-color: #a9d6e5ff;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
    margin-top: 10px;
    padding-top: 20px;
    padding: 50px 0 20px;
}

.p {
    color: #c0b7b1;
    font-family: 'Sacramento', cursive;
}

.intro1 {
    color: #01497c;
    padding: 20px 400px 20px 400px;
    font-family: 'Montserrat';
    width: 20%;
    margin: auto;
    line-height: 2;
}

.intro2 {
    color: #01497c;
    padding: 20px 400px 20px 400px;
    font-family: 'Montserrat';
    width: 20%;
    margin: auto;
    line-height: 2;
}

.pro {
    text-decoration: underline;
}

.bline {
    color: #61a5c2;
    font-size: 2.5rem;
    font-family: 'Montserrat';
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    bottom: 300px;
    left: 300px;
    position: absolute;
}

.profile {
    position: relative;
    top: 20px;
}

.hi {
    color: #01497c;
}

hr {
    border: dotted #6096ba 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.skill-row {
    padding: 20px 400px 20px 400px;
    margin: 100px auto 100px auto;
    width: 50%;
    text-align: left;
    line-height: 2;
}

.program-img {

    width: 25%;
    float: left;
    margin-right: 30px;
}

.book-img {

    width: 25%;
    float: right;
    margin-left: 30px;
}

.sk {
    color: #01497cff;
}

.table {
    margin-left: 85px;
    margin-right: 500;
    margin-top: 50px;
}

.contact-me {
    color: #01497cff;
    padding-bottom: 10px;
}

.btn {
    padding-bottom: 50;
    margin-bottom: 50;
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 15px;
    background: #4a8cb8;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #376b99;
    background-image: -webkit-linear-gradient(top, #376b99, #a9d6e5ff);
    background-image: -moz-linear-gradient(top, #376b99, #a9d6e5ff);
    background-image: -ms-linear-gradient(top, #376b99, #a9d6e5ff);
    background-image: -o-linear-gradient(top, #376b99, #a9d6e5ff);
    background-image: linear-gradient(to bottom, #376b99, #a9d6e5ff);
    text-decoration: none;
}

.atsymbol {
    background-color: #a9d6e5ff;
}

.copyright {
    font-size: 12px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 15px;
    margin-bottom: 0;
}

.footer-link {
    color: #376b99;
    margin: 10px 20px;

}